.button,
a.button {
	background-color: $color-chapman-gray;
	border: none;
	border-radius: 3px;
	color: $color-dark-gray;
	display: block;
	width: 100%;
	box-sizing: border-box;
	font-size: 16px;
	text-align: center;
	line-height: 16px;
	padding: 15px 25px;
	margin: 6px 0;

	@include breakpoint(s) {
		display: inline-block;
		width: auto;
		margin: 0;
		text-align: inherit;
	}

	&:hover {
		color: $black;
		opacity: 0.9;
		text-decoration: none;
	}

	&.red,
	&.primary {
		background-color: $color-chapman-red;
		color: $white;

		&:hover {
			color: $white;
		}
	}

	&.blue,
	&.secondary {
		background-color: $color-chapman-blue;
		color: $white;

		&:hover {
			color: $white;
		}
	}

	&.pointer {
		&:after {
			font-size: 32px;
			content: "»";
			margin-left: 5px;
			display: inline-block;
			vertical-align: sub;
		}
	}
}
