html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-size: 13px;
  line-height: 1.231;
  font-family: sans-serif;
  color: #383838;
}

button, input, select, textarea {
  font-family: sans-serif;
  color: #383838;
}

section {
	li {
	  max-width: 70%;
	  @include bp(m) {
			max-width: 100%;
		}
	}
	p {
		@include bp(m) {
			// font-family: Arial;
      color: #383838;
		}
	}
}

::-moz-selection, ::selection {
  background: #a82439;
  color: #fff;
  text-shadow: none;
}

a {
  color: #00e;
  &:visited {
    color: #551a8b;
  }
  &:hover {
    color: #06e;
  }
  &:focus {
    outline: thin dotted;
  }
  &:hover, &:active {
    outline: 0;
  }
}

b, strong {
  font-weight: 800;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

html {
  background-image: url("img/diamond_pattern.gif");
  background-color: #ecebe5;
  font-family: "proxima-nova-soft", "proxima-nova-soft-n4", sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

body {
  color: #383838;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'proxima-nova', arial, verdana, sans-serif;
  color: #353430;
}

h2, h3, h4, h5, h6 {
  font-weight: 200;
  margin-top: 20px;
  margin-bottom: 0;
}

h1 {
  font-size: 30px;
  font-weight: 800;
}

h2 {
  font-size: 20px;
  font-weight: 800;
  position: relative;
  line-height: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 1em 0 0.5em;
  .bullet {
    font-family: Georgia;
    font-size: 25px;
    color: #666;
    position: absolute;
    top: 5px;
    left: -30px;
    display: none;
    @include bp(xl) {
    	display: none;
    }
  }
}

h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4em;
  letter-spacing: 0px;
  /*padding: 10px 0;*/
  /* margin: 1em 0 0.5em;*/
  /*font-family:"proxima-nova-soft", "proxima-nova-soft-n4", sans-serif;*/
  margin: 0;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 15px;
  color: #383838;
}

h4 {
  font-size: 14px;
  font-weight: 500;
  color: #383838;
}

h5 {
  font-size: 14px;
  font-weight: 500;
  font-style: italic;
  color: #383838;
}

hgroup h3 {
  margin: -5px 0 0 0;
}

body, button, input, select, textarea {
  font-family: "proxima-nova-soft", "proxima-nova-soft-n4", sans-serif;
}

p, li {
  font-family: "proxima-nova-soft", "proxima-nova-soft-n4", sans-serif;
  font-size: 14px;
  color: #383838;
  line-height: 1.45em;
}

a {
  text-decoration: none;
  color: #98002E;
  &:link {
    color: #a82439;
    border-bottom: none;
  }
}

blockquote {
	display: none;
}

p.source a:link, a:visited, p.source a:visited {
  color: #a82439;
  border-bottom: none;
}

a:hover, p.source a:hover {
  color: #c52b43;
  border-bottom: none;
}

.js .noscript {
  display: none;
}

.noscript p {
  position: static;
  color: black;
  border-bottom: 1px solid black;
  text-align: left;
  padding: 8px 12px 8px 50px;
  margin: -8px 0 0 0;
  font-size: 1.2em;
  line-height: 1.4em;
  background: #FFFFBD;
}

.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.alert {
  margin: 0;
  font-size: large;
  background-color: #98002E;
  color: #FFFFFF;
  text-align: center;
  p {
    font-size: large;
    color: White;
    padding: 15px;
  }
  a {
    color: White;
    text-decoration: underline;
  }
}

.logo {
  position: relative;
  top: 0;
  display: block;
  height: 58px;
  width: 280px;
  margin: 10px 0 0 10px;
  text-indent: -999em;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  @include bp(m) {
  	clear: left;
    float: left;
    display: block;
    position: static;
    height: 58px;
    width: 260px;
    margin: -6px 0 0 10px;
    text-indent: -999em;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
  }
}

.description {
	&:hover {
		@include bp(m) {
			// color: #a82439;
		}
	}
	@include bp(m) {
		font-size: 13px;
    color: #383838;
	}
}

.closeButton {
  position: relative;
  width: 20px;
  height: 20px;
  line-height: 20px;
  left: 192px;
  bottom: 268px;
  margin: 0 auto;
  color: #fff;
  font-weight: 900;
  background-color: #000;
  cursor: pointer;
  @include bp(m) {
  	left: 294px;
    bottom: 418px;
  }
}

.maxWidth {
  @include bp(m) {
  	max-width: 1128px;
	  margin: 0 auto 0 auto;
  }
}

.toggle:after {
  background-image: url(img/miscButtons.png);
  background-position: -23px 0;
}

.btn-removeShortcut {
  background-image: url(img/resources.png);
  background-position: -48px -14px;
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
  display: block;
  &:hover {
    background-position: -48px 0;
  }
}

.btn-addThisPage {
  font-size: 13px;
  font-weight: 800;
  color: #a9233a;
  line-height: -20px;
  &:before {
    background-image: url(img/resources.png);
    background-position: -63px 0px;
    background-repeat: no-repeat;
    width: 17px;
    height: 16px;
    display: block;
    position: absolute;
    top: 20px;
    left: 10px;
    content: "";
  }
  &.is-favorite:before {
    background-position: -63px -16px;
  }
}

.search {
  display: none;
}

#exploreVideo {
  display: none;
}

div.rss-story p {
  margin-top: -10px;
}

.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  br {
    display: none;
  }
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  &.focusable {
    &:active, &:focus {
      clip: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      position: static;
      width: auto;
    }
  }
}

.invisible {
  visibility: hidden;
}

.clearfix {
  &:before {
    content: "";
    display: table;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  zoom: 1;
}

.is-visible {
  visibility: visible;
}

.address {
  color: #353430;
  line-height: 18px;
}

.copyright {
  font-style: italic;
}
