.resources {
  // display: none;
	&.active {
		display: block;
	}
	a {
	  display: block;
	  padding: 10px 0 10px 10px;
	  border-bottom: 1px solid #000;
	  @include bp(m) {
	  	padding: 0;
      border: none;
	  }
	}
	li > a {
	  color: #686666;
	}
	li a .bullet {
	  color: #C70909;
	  position: absolute;
	  right: 10px;
	}
	@include bp(m) {
		margin-right: 12px;
    float: right;
    display: block;
	}
}

.resourcesLinks {
  clear: both;
  li .separator {
    display: none;
  }
}

.resources-nav {
  list-style-type: none;
  li {
  	@include bp(m) {
  		font-weight: 800;
      font-size: 11px;
      display: inline-block;
      margin-left: 20px;
      position: relative;
  	}
  }
  > li > a {
    display: none;
    @include bp(m) {
    	display: block;
    }
  }
  .resources-nav-btn {
  	&.is-active {
  		&:before {
  			@include bp(m) {
  				background-position: 0 -14px;
  			}
  		}
      @include bp(m) {
      	color: #a9233a;
      }
    }
    &:before {
    	@include bp(m) {
    		background-image: url(img/resources.png);
	      background-repeat: no-repeat;
	      background-position: 0 0;
	      content: '';
	      width: 15px;
	      height: 14px;
	      /*margin-top: 13px;*/
	      margin-right: 5px;
	      display: block;
	      float: left;
    	}
    }
  }
  .resources-nav-btn-search {
  	&.is-active:before {
  		@include bp(m) {
  			background-position: -32px -14px;
  		}
  	}
  	&:before {
	    @include bp(m) {
	    	background-position: -32px 0;
	    }
	  }
  }
  .resources-nav-btn-shortcuts:before {
  	&.is-active:before {
			@include bp(m) {
				background-position: -16px -14px;
			}
		}
    @include bp(m) {
    	background-position: -16px 0;
    }
  }
  .no-touch & {
  	> li:hover .resources-nav-btn, .resources-nav-btn:hover {
			&:before {
				@include bp(m) {
					background-position: 0 -14px;
				}
			}
			@include bp(m) {
				color: #a9233a;
			}
  	}
  	li:hover .resources-nav-btn-shortcuts:before, .resources-nav-btn-shortcuts:hover:before {
			@include bp(m) {
				background-position: -16px -14px;
			}
  	}
  	li:hover .resources-nav-btn-search:before, .resources-nav-btn-search:hover:before {
      @include bp(m) {
      	background-position: -32px -14px;
      }
    }
	}
}

.resources-subNav-login {
	&.active {
	  display: block;
	}
	&:before {
		@include bp(m) {
			position: absolute;
	    display: inline-block;
	    border-left: 7px solid transparent;
	    border-right: 7px solid transparent;
	    border-bottom: 7px solid #faf9f6;
	    border-bottom-color: rgba(0, 0, 0, 0.2);
	    left: 0;
	    top: -7px;
	    content: '';
		}
	}
}

.resources-subNav-search {
  &.active {
    display: block;
  }
  &.show-helper {
  	#smallSearch {
  		@include bp(m) {
  			width: 321px;
  		}
  	}
  	@include bp(m) {
  		width: 510px;
  	}
  }
  img {
    display: none;
    @include bp(m) {
    	display: block;
      float: right;
      padding-top: 8px;
    }
  }
  #smallSearch {
    @include bp(m) {
    	z-index: 10;
    }
  }
  @include bp(m) {
  	visibility: visible;
  	@include vendorize(transition, width 0.3s ease-out);
  }
}

.resources-subNav {
  display: none;
  z-index: 2000;
  &:after {
  	@include bp(m) {
  		position: absolute;
			display: inline-block;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			border-bottom: 8px solid #fff;
			left: 0;
			top: -7px;
			content: '';
  	}
  }
  &:before {
  	@include bp(m) {
  		position: absolute;
      display: inline-block;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #fff;
      border-bottom-color: rgba(0, 0, 0, 0.2);
      left: 0;
      top: -7px;
      content: '';
  	}
  }
  &.is-visible {
  	@include bp(m) {
  		visibility: visible;
  	}
  }
  &.show-helper {
  	&:before, &:after {
      @include bp(m) {
      	display: none;
      }
    }
  }
  li {
  	> a {
  		&:hover {
  			@include bp(m) {
  				color: #a82439;
  			}
  		}
  		@include bp(m) {
  			font-size: 13px;
        font-weight: normal;
  		}
  	}
  	@include bp(m) {
  		padding: 0;
      margin: 0;
      display: block;
      line-height: 13px;
  	}
  }
  @include bp(m) {
  	background-color: #faf9f6;
    -webkit-box-shadow: 0px 10px 10px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.2);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
    display: block;
    position: absolute;
    top: 37px;
    /*z-index: 100;*/
    visibility: hidden;
  }
}

.resources-nav-btn {
  @include bp(m) {
  	color: #353430;
  }
}