.leftNavSubContent {
  float: left;
  width: 100%;
  margin: 10px 0 0 0;
  .social {
    margin: 0 0 0 25px;
  }
  .callout {
	  padding: 10px 19px 10px 19px;
	  margin: 0 0 20px 0;
	  position: relative;
	  -moz-box-shadow: inset 8px 8px 8px -8px #ccc5a5;
	  -webkit-box-shadow: inset 8px 8px 8px -8px #ccc5a5;
	  box-shadow: inset 8px 8px 8px -8px #ccc5a5;
	  background-color: #ede9d4;
	  background: -ms-radial-gradient(circle, #eee9d7, #ede9d4);
	  background: -webkit-radial-gradient(circle, #eee9d7, #ede9d4);
	  background: -moz-radial-gradient(circle, #eee9d7, #ede9d4);
	  background: -ms-radial-gradient(circle, #eee9d7, #ede9d4);
	  ol > li {
	    list-style-type: decimal;
	  }
	  h2 {
	    color: #896d49;
	    font-family: "Open Sans";
	    font-weight: 600;
	    font-size: 14px;
	    margin: 10px 0 5px 0;
	  }
	  .editableContent {
	  	a {
		    display: inline;
		  }
		  .redLeftColButton {
			  margin: 0 0 0 0;
			  ul {
			    list-style: none;
			    width: 234px;
			    margin: 0 0 0 -15px;
			    padding: 0;
			  }
			  li {
			    padding-bottom: 2px;
			  }
			  a {
			    position: relative;
			    text-align: right;
			    padding: 0 30px 0 5px;
			    color: #fff;
			    text-transform: uppercase;
			    font-weight: bold;
			    line-height: 47px;
			    display: block;
			    border: 1px solid #e3cfd8;
			    background-color: #a12756;
			    background-image: -webkit-gradient(linear, left top, left bottom, from(#a12756), to(#910039));
			    background-image: -webkit-linear-gradient(top, #a12756, #910039);
			    background-image: -moz-linear-gradient(top, #a12756, #910039);
			    background-image: -o-linear-gradient(top, #a12756, #910039);
			    background-image: linear-gradient(to bottom, #a12756, #910039);
			    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a12756', endColorstr='#910039',GradientType=1 );
			    /* IE6-8 */
			    font-size: 1.1em;
			    .arrow {
			      position: absolute;
			      top: 50%;
			      right: 16px;
			      margin-top: -25px;
			    }
			    &:hover {
			      background: #670b2e;
			      /* Old browsers */
			      /* IE9 SVG, needs conditional override of 'filter' to 'none' */
			      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E2ZDBkZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1MDliYjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
			      background: -moz-linear-gradient(top, #670b2e 0%, #910039 100%);
			      /* FF3.6+ */
			      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #670b2e), color-stop(100%, #910039));
			      /* Chrome,Safari4+ */
			      background: -webkit-linear-gradient(top, #670b2e 0%, #910039 100%);
			      /* Chrome10+,Safari5.1+ */
			      background: -o-linear-gradient(top, #670b2e 0%, #910039 100%);
			      /* Opera 11.10+ */
			      background: -ms-linear-gradient(top, #670b2e 0%, #910039 100%);
			      /* IE10+ */
			      background: linear-gradient(to bottom, #670b2e 0%, #910039 100%);
			      /* W3C */
			      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#670b2e', endColorstr='#910039',GradientType=0 );
			      /* IE6-8 */
			    }
			    &.long {
			      line-height: 14px;
			      padding: 10px 30px 10px 5px;
			      .arrow {
			        margin-top: -12px;
			      }
			    }
			  }
			}
	  }
	  .buttonLinks {
	    margin: 10px 0 0 0;
	    li a {
	      margin: 0 auto 3px auto;
	      padding: 5px 10px 5px 10px;
	      color: #8f0c30;
	      background-color: White;
	      font-family: "Open Sans";
	      font-weight: 800;
	      font-size: 11px;
	      position: relative;
	      &:hover {
	        background-color: #FAF8EF;
	      }
	    }
	  }
	}
}