// Colors
$white: #fff;
$black: #000;

$teal: #25b6a4;
$teal-hover: #25d4be;

$teal2: #02bac1;
$teal2-hover: #01cdd5;

$red: #a82439;
$red-hover: #c42b43;

$grey: #353430;
$grey-hover: #4c4b45;

$grey2: #353430;
$grey2-hover: #908e86;

